<ion-header>
  <ion-navbar>
    <ion-title>
      ChannelsPage
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="list-avatar">
    <ion-item-sliding *ngFor="let channel of channels; let inx = index">
      <ion-item (click)="gotoChat(channel);">
        <ion-avatar item-left>
          <img src="{{channel.image}}">
        </ion-avatar>
        <h2>{{channel.name}}</h2>
        <p>{{latestMessage(channel.channelId)}}&nbsp;</p>
        <ion-note item-right style="margin-right: -30px;">{{channel.updated}}</ion-note>
        <br/>
        <ion-badge item-right *ngIf="unreadCount(channel.channelId) > 0 ">{{unreadCount(channel.channelId)}}</ion-badge>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="primary">
          <ion-icon name="text"></ion-icon>
          Text
        </button>
        <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          Call
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeChannel(channel, inx)">
          <ion-icon name="exit"></ion-icon>
          Exit
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>