<ion-header>
  <ion-navbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ol class="messages">
    <li *ngFor="let message of messages;" [ngClass]=" message.sent ? 'S':'R' ">
      <div *ngIf=" message.image ">
        <span>
          <img [src]="message.image"/>
        </span>
      </div>
      <div *ngIf=" message.text ">
        <span>{{message.text}}</span>
      </div>
	  </li>
  </ol>
</ion-content>

<ion-footer class="bar-frosted" >
  <ion-item>
    <input type="file" #fileInput id="file" style="display:none" (change)="onFileChange($event, fileInput.value)" />
    <button ion-button icon-only item-left clear (click)="selectFile()">
      <ion-icon name="md-add-circle" ></ion-icon>
    </button>
    <ion-input [(ngModel)]="inputMessage" placeholder="Start typing..."></ion-input>
    <button ion-button item-right color="primary" style="min-width:50px;" (click)="send()" >Send</button>
  </ion-item>
</ion-footer> 