<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item-sliding *ngFor="let user of users;" (click)="gotoChat(user);">
      <ion-item>
        <ion-avatar item-left>
          <img src="{{user.image}}" *ngIf=" !!user.image ">
          <img src="http://messengerx.github.io/app/www/img/default_image.jpg" *ngIf=" !user.image ">
        </ion-avatar>
        <h2>{{user.U}}</h2>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="primary">
          <ion-icon name="text"></ion-icon>
          Text
        </button>
        <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          Call
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="mail"></ion-icon>
          Email
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>